.Xauthority
.bash_history
.bash_logout
.cache/
.gconf/
.gitconfig
.gnupg/
.gstreamer-0.10/
.hex/
.mix/
.node-gyp/
.node_repl_history
.npm/
.nvm/
.oracle_jre_usage/
.pki/
.pm2/
.rnd
.ssh/
.local
.subversion/
.config
.tmux.conf
.vim/
phonetisaurus/g014b2b*
.viminfo
.vscode/
.wget-hsts
.xsession-errors
.xsession-errors.old
.yarnrc
raspiaudio
